.container{
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    -webkit-perspective: 1500px;
    perspective: 1500px;
}

.wrapper {
    position: relative;
    width: 1440px;
    max-width: 100%;
    height: 100%;
    margin: 0 auto;
}

.main_content {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

.section{
    position: absolute;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    transition: transform 0.6s ease-out, opacity 0.6s ease-out;
    -webkit-transition: transform 0.6s ease-out, opacity 0.6s ease-out;
}

.is_active {
    visibility: visible;
    opacity: 1;
    transition: transform 0.6s ease-out, opacity 0.6s ease-out;
    -webkit-transition: transform 0.6s ease-out, opacity 0.6s ease-out;
}

.fade_out_down {
    transform: translateY(-351px);
    transition: transform 0.6s ease-out;
    -webkit-transition: transform 0.6s ease-out;
}

.fade_out_up {
    transform: translateY(351px);
    transition: transform 0.6s ease-out;
    -webkit-transition: transform 0.6s ease-out;
}

.fade_in_down {
    transform: translateY(-351px);
    transition: transform 0.6s ease-out;
    -webkit-transition: transform 0.6s ease-out;
}

.fade_in_up {
    transform: translateY(351px);
    transition: transform 0.6s ease-out;
    -webkit-transition: transform 0.6s ease-out;
}